<!DOCTYPE html>
html(lang=LANG.locale)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/main.css")
    title Make Profit SRL Terms of Service
    script.
      var locale = "!{LANG.locale}";
  body
    include templates/mixins/menu.pug
    +menu('terms', "dark")
    include templates/privacy/terms.pug
    include templates/footer
    .overlay.js-overlay

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="js/main.js")
