- var SUCCESS = LANG.success.header;

section.header-success
	.wrapper
		.header-success__ico
			i.fico.fico-check
		h1.header-success__title.title.title--med!= SUCCESS.title
		p.header-success__desc!= SUCCESS.desc